export GOBID_APP_PORT=3000
export GOBID_DATABASE_PORT=5432
export GOBID_DATABASE_NAME=gobid
export GOBID_DATABASE_USER=postgres
export GOBID_DATABASE_PASSWORD=123456789
export GOBID_DATABASE_HOST=gobid-db.c0xcu2gcasmy.us-east-1.rds.amazonaws.com
export GOBID_CSRF_KEY=0i6BR6DgHKM5anpysre0ghTDguFEG3JA